// Pipeline parameters
// params.input_reads = "sample_reads"
params.output_dir = "results"
params.reference_genome = "ref/GCF_000149955.1_ASM14995v2_genomic.fna.gz"
params.samplesheet_path = "samplesheet.csv"
params.conda_shell = "$HOME/miniconda3/etc/profile.d/conda.sh"
params.project_root = "$PWD"
params.home = "$HOME"

// SnpEff
params.snpeff_db = "Fusarium_oxysporum_f_sp_lycopersici_4287_gca_000149955"

// BLAST
params.blast_db_dir = "/mnt/1/blast/db/core_nt"
params.blast_evalue = "1e-5"
params.blast_max_target_seqs = "5"
params.merops_db_dir = "/home/sercanozturk/MEROPS/merops_db"

conda.enabled = true