// Pipeline parameters
// params.input_reads = "sample_reads"
params.output_dir = "results"
params.reference_genome = "ref/GCF_000149955.1_ASM14995v2_genomic.fna.gz"
params.samplesheet_path = "samplesheet.csv"
params.conda_shell = "$HOME/miniconda3/etc/profile.d/conda.sh"
params.project_root = "$projectDir"
params.home = "$HOME"

// SnpEff
params.snpeff_jar = "${params.home}/miniconda3/envs/snpeff/share/snpeff-5.2-1/snpEff.jar"
params.snpeff_db = "Fusarium_oxysporum_f_sp_lycopersici_4287_gca_000149955"
params.chr_rename_map = "${projectDir}/utilities/chr_rename_map.txt"

// BLAST
params.blast_db_dir = "/mnt/1/blast/db/core_nt"
params.blast_evalue = "1e-5"
params.blast_max_target_seqs = "5"
params.merops_db_dir = "$HOME/MEROPS/merops_db"

// binaries
params.mcclintock = "$HOME/McClintock/mcclintock.py"
params.targetp = "$HOME/targetp-2.0/bin/targetp"

// dbCAN
params.dbcan_db_dir = "/mnt/1/dbCAN/db"
params.dbcan_hmm_dome = "1e-15"
params.dbcan_threads = 4

// Module output directories
params.avc_wf_output = "alignment_variant_calling"
params.pa_wf_output = "preprocess_assembly"
params.avc_threads = 8
params.avc_mpileup_max_depth = 1000
params.avc_min_mapq = 30
params.avc_min_baseq = 20
params.avc_min_callable_depth = 20
params.avc_consensus_callable_fraction = 0.80
params.avc_ploidy = 2
params.avc_variant_min_qual = 20
params.avc_variant_min_dp = 10
params.avc_run_group_specific = true
params.avc_group_map = "${projectDir}/samplesheets/group_map.tsv"

params.skip_deeptmhmm = false
params.coverage_threads = 8
params.enable_chr0_blast_append = false
params.run_mcclintock = false
params.six_queries_fasta = "${projectDir}/ref/SIX1_SIX15.faa"
params.six_blast_evalue = "1e-10"
params.six_min_query_coverage = 25
params.six_blast_threads = 8

conda.enabled = true
report.enabled = true


workflow.onComplete = {
  def statusIcon = workflow.success ? ":white_check_mark:" : ":x:"
  def msg = """
  *${statusIcon} Pipeline Complete*
  *Run Name:* ${workflow.runName}
  *Project:* Fusarium_oxysporum_f_sp_lycopersici_4287
  *Success:* ${workflow.success}
  *Duration:* ${workflow.duration}
  """

  def payload = [
    text: ":rocket: Pipeline run finished!",
    blocks: [
      [
        type: "section",
        text: [ type: "mrkdwn", text: msg.trim() ]
      ]
    ]
  ]

  def json = groovy.json.JsonOutput.toJson(payload)

  [ 'curl', '-X', 'POST',
    '-H', 'Content-type: application/json',
    '--data', json,
    System.getenv('SLACK_WEBHOOK')
  ].execute()
}
